@import "variables";
@import "buttons";
@import "background-color";
@import "general";
@import "text-color";
@import "breakpoints";

.content-body {
  margin-top: 3.5rem;
}

.profile-card {
  .avatar {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    padding: 0;
    margin-bottom: 0.5rem;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
    }
  }
  a {
    text-decoration: none;
    color: aliceblue;
  }
}

.aboutme {
  position: relative;
  p {
    font-weight: 600 !important;
  }
}

.education {
  position: relative;

  .fa-briefcase,
  .fa-graduation-cap {
    font-size: 2rem;
  }

  .fab,
  .icon-mongodb {
    font-size: 2.4rem;
    margin: 0.5rem 1rem;
  }

  .fa-adobe {
    width: 2.3rem;
    margin: 0.5rem 1rem;
  }
}

.myworks {
  position: relative;

  .portfolio-image {
    padding: 2px;
    width: 25%;
  }
}

.contactme {
  position: relative;
  .fas {
    font-size: 1.5rem;
  }

  textarea {
    height: 5rem;
  }
}
