@import "variables";
@import "buttons";
@import "background-color";
@import "general";
@import "text-color";
@import "breakpoints";

.profile-card {
  .avatar {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    padding: 0;
    margin-bottom: 0.5rem;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
    }
  }
  a {
    text-decoration: none;
    color: aliceblue;
  }
}

.content-body {
  margin-top: 3.5rem;
}

.aboutme {
  position: relative;
  p {
    font-weight: 600 !important;
  }
}

.education {
  position: relative;

  .fa-briefcase,
  .fa-graduation-cap {
    font-size: 2rem;
  }

  .fab,
  .icon-mongodb {
    font-size: 2.4rem;
    margin: 0.5rem 1rem;
  }

  .fa-adobe {
    width: 2.3rem;
    margin: 0.5rem 1rem;
  }
}

.myworks {
  position: relative;
  transition: all 1s;

  .portfolio-image {
    padding: 2px;
    width: 25%;
    height: 25%;
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
  }

  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
  }
  @-webkit-keyframes animatebottom {
    from {
      bottom: -50px;
      opacity: 0;
    }
    to {
      bottom: 0px;
      opacity: 1;
    }
  }
  @keyframes animatebottom {
    from {
      bottom: -50px;
      opacity: 0;
    }
    to {
      bottom: 0;
      opacity: 1;
    }
  }
}

.contactme {
  a {
    text-decoration: none;
  }
  position: relative;
  .fas {
    font-size: 1.5rem;
  }

  textarea {
    height: 5rem;
  }
}
